<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Google Apps" parallel="false" preserve-order="true" thread-count="1" verbose="1">
  <test name="Regression">
    <classes>
      <class name="com.google.cloud.spanner.r2dbc.it.SpannerSelectReactiveStreamVerification">
       <methods>



<!--
         <include name="required_spec102_maySignalLessThanRequestedAndTerminateSubscription"/>
-->
<!--
         <include name="required_spec105_mustSignalOnCompleteWhenFiniteStreamTerminates"/>
-->


<!--
          <include name="optional_spec111_maySupportMultiSubscribe"/>


          <include name="optional_spec309_requestNegativeNumberMaySignalIllegalArgumentExceptionWithSpecificMessage"/>


          <include name="required_createPublisher1MustProduceAStreamOfExactly1Element"/>


          <include name="required_createPublisher3MustProduceAStreamOfExactly3Elements"/>-->

       <!--  <include name="required_createPublisher3MustProduceAStreamOfExactly3Elements"/>
         <include name="required_spec101_subscriptionRequestMustResultInTheCorrectNumberOfProducedElements"/>

         <include name="required_spec102_maySignalLessThanRequestedAndTerminateSubscription"/>

         <include name="required_spec105_mustSignalOnCompleteWhenFiniteStreamTerminates"/>


-->
        </methods>
      </class>

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->